// add.scss

// Global body styles
body {
  background-color: #292b2f;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

// Dark-themed container styles
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #373a3f;
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border-color: #1e90ff;
      /* Change the border color on focus */
    }
  }

  input[type='submit'] {
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #007acc;
      /* Darker shade on hover */
    }
  }

  p {
    color: #aaf;
    /* Message color */
    margin-top: 10px;
  }

  a {
    color: #1e90ff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }
}